extends base.pug

block scripts
    script(src='/static/script.js')

block style 
    style 
      include ../static/style.css 

block content
    div.container
        h1 Here's the About Page Of Arpit Dance Academy.     